[submodule "s2geometry"]
	path = s2geometry
	url = https://github.com/google/s2geometry.git
[submodule "h3"]
	path = h3
	url = https://github.com/uber/h3.git
[submodule "abseil-cpp"]
	path = abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
[submodule "flatbuffers"]
	path = flatbuffers
	url = https://github.com/google/flatbuffers.git
[submodule "PROJ"]
	path = PROJ
	url = https://github.com/OSGeo/PROJ.git
[submodule "eigen-git-mirror"]
	path = eigen-git-mirror
	url = https://github.com/eigenteam/eigen-git-mirror.git
